html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #000 url("../assets/landing-background.png") no-repeat center center;
    background-size: cover;
    height: 75%;
    width: 100%;
    margin: 85px auto;
    padding: 0;
    text-align: center;
}


p {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
}

.btn {
    background-color: #da2127;
    border: 0 solid transparent;
    border-radius: 0 !important;
    font-size: 24px;
}

#buttons-container {
    margin-top: 185px;
    margin-bottom: 200px;
}

#logo {
    margin-bottom: 50px;
}
