html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #000 url("../assets/landing-background.png") no-repeat center center;
    background-size: cover;
    height: 75%;
    width: 100%;
    margin: 85px auto;
    padding: 0;
    text-align: center;
}

img:first-of-type {
    margin-bottom: 25px;
}

p {
    margin-bottom: 210px;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
}
