body {
    margin: 100px auto;
    font-family: 'Oswald', sans-serif;
    background-image:url('../assets/background.png');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

span {
    float: left;
}

.jumbotron {
    text-align: center;
    background: rgba(0, 0, 0, 0); 
    color: #604344;
}

.jumbotron img {
    margin-bottom: 55px;
}

span p {
    padding 0;
    margin 0;
    line-height: 0.5em;
}

.caption h4 {
    margin-bottom: 20px;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    border-radius: 0 !important;
    border: 0 solid transparent;
    background-color: #da2127;
}

.btn:hover {
    background-color: #a6393d;
}

.logo {
    margin-bottom: 10px;
}

.thumbnail {
    border-radius: 0 !important;
    border: 0 solid transparent;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.thumbnail img {
    object-fit: cover;
    height: 60%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.thumbnail .caption {
    text-align: center;
    height: 40%;
    margin 0;   
    padding: 20px;   
}

.caption a {
    float: right;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
