.navbar {
    height: 50px;
}

.navbar-brand img {
    height: 50px;
}

#footer-basic {
    background-color: rgb(18, 18, 18);
    height: 414px;
    width: 1362px;
    color: rgb(255, 255, 255);
    margin: auto;
}

#footer-top {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: left;
    padding-left: 5%;
    padding-bottom: 47px;
    padding-top: 47px
}

#block {
    width: 170px;
    margin: 0;
    padding-right: 30px
}

#footer-lists {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    margin: 0;
    padding: 0;
    line-height: 15px
}

#footer-bottom {
    padding-left: 5%
}
