<% include ../../partials/header %>

<div class="container"> 

    <div class="upload-header">
        <h1>First responder document upload</h1>
    </div>

    <div class="upload-container">

        <p>Please upload a scan of one of the following so we can verify your employment.</p>
        <span>Important - the documentation must display:</span>
        <ul>
            <li>Your full name (<%= firstName %> <%= lastName %>)</li>
            <li>The full name of the institution you currently serve (<%= organizationName %>)</li>
            <li>Your first responder affiliation (<%= affiliationType %>)</li>
            <li>Must be dated within the last 4 months.</li>
        </ul>

        <p>If this information appears incorrect, click <a href="verify">here</a> to try again.</p>

        <p>Examples of acceptable documentation are a letter of employment, current paystub, or any official document that clearly shows your first and last name, current date, and status as a first responder.</p>

        <% include ../../partials/upload-form-submit %>
        <% include ../../partials/sheerid-logo %>
    </div>
</div>

<% include ../../partials/footer %>
