<% include ../../partials/header %>

<div class="container"> 
    <div class="upload-header">
        <h1>Student document upload</h1>
    </div>

    <div class="upload-container">

        <p>Please upload a scan of one of the following so we can verify your enrollment at your university.</p>
        <span>Important - the documentation must display:</span>
        <ul id="doc-requirements">
            <li>Your full name: (<%= firstName %> <%= lastName %>)</li>
            <li>The full name of the college/university you are currently attending: (<%= organizationName %>)</li>
            <li>An issue date within the last 3 months</li>
        </ul>

	<p>Examples of acceptable documents are a school certificate, registration or tuition receipt, or transcript.</p>

        <% include ../../partials/upload-form-submit %>
        <% include ../../partials/sheerid-logo %>
    </div>

</div>

<% include ../../partials/footer %>
