<% include ../../partials/header %>

<div class="container"> 
    <div class="upload-header">
        <h1>Teacher document upload</h1>
    </div>

    <div class="upload-container">

        <p>Please upload a scan of one of the following so we can verify your teacher status at your school.</p>
        <span>Important - the documentation must display:</span>
        <ul>
            <li>Your full name (<%= firstName %> <%= lastName %>)</li>
            <li>The full name of the school where you teach (<%= organizationName %>)</li>
            <li>Must show an issue date with the past three months.</li>
        </ul>

        <p>If this information appears incorrect, click <a href="verify">here</a> to try again.</p>
    
        <span>Examples of acceptable documentation:</span>
        <ul>
            <li>Letter of Employment on school letterhead</li>
            <li>Current Pay-Stub</li>
            <li>Any official document that clearly shows your first/last name, current date, and status as a Teacher</li>
        </ul>
    
        <% include ../../partials/upload-form-submit %>
        <% include ../../partials/sheerid-logo %>
    </div>

</div>

<% include ../../partials/footer %>
