        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-4">
                                <ul>
                                    <h1>SUPPORT</h1>
                                    <li>How to Order?</li>
                                    <li>Payments</li>
                                    <li>Assistance</li>
                                    <li>Delivery</li>
                                </ul>
                            </div>
                            <div class="col-4">
                                 <ul>
                                    <h1>ABOUT US</h1>
                                    <li>About Shop</li>
                                    <li>Promotions</li>
                                    <li>Discount Cards</li>
                                    <li>Pro Shop</li>
                                </ul>
                           </div>
                            <div class="col-4">
                                <ul>
                                    <h1>DUTIES</h1>
                                    <li>Terms and Conditions</li>
                                    <li>Shop Policy</li>
                                    <li>Contact Us</li>
                                </ul>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row glpyhs-container">
                            <div class="glyph glyph-white"><i class="fas fa-envelope"></i></div>
                            <div class="glyph glyph-white"><i class="fas fa-map-marker"></i></div>
                            <div class="glyph glyph-red"><i class="fab fa-facebook-f"></i></div>
                            <div class="glyph glyph-red"><i class="fab fa-twitter"></i></div>
                            <div class="glyph glyph-red"><i class="fab fa-google-plus-g"></i></div>
                            <div class="glyph glyph-red"><i class="fab fa-instagram"></i></div>
                            <div class="glyph glyph-red"><i class="fab fa-reddit-alien"></i></div>
                        </div>
                        <div class="row">
                            <h3>Our Phones:</h3>    
                        </div>
                        <div class="row">
                            <h1>800 555 1234 / 541 555 1234</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <img src="/assets/skinny-logo.png">
                </div>
            </div>
        </footer>
    </body>
</html>
