    
    <footer id="footer-basic" class="page-footer mdb-color pt-4 mt-4">
        <div class="mw-100 container text-center text-md-left">
            <div id="footer-top" class="row my-4">
                <div class="col-md-2 col-lg-2 ml-auto"> 
                    <p>SUPPORT </p>
                    <ul class="footer-lists">
                        <li>How to Order? </li>
                        <li>Payments</li>
                        <li>Assistance </li>
                        <li>Delivery </li>
                    </ul> 
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 col-lg-2 ml-auto">
                    <p>ABOUT US </p>
                    <ul class="footer-lists">
                        <li>About Shop </li>
                        <li>Promotions</li>
                        <li>Discount Cards </li>
                        <li>Pro Shop </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 col-lg-2 ml-auto">
                    <p>DUTIES </p>
                    <ul class="footer-lists">
                        <li>Terms and Conditions</li>
                        <li>Shop Policy</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-6 col-lg-6 ml-auto">
                    <div class="mt-2">
                        <img src="/assets/mail.png">
                        <img src="/assets/map.png">
                        <img src="/assets/social-icons.png">
                    </div>
                    <hr id="breakline">
                    <div id="our-phone-number"> 
                        <p>OUR PHONES: <span id="phone-number"> 800 555 1234  /  541 555 1234</span></p> 
                    </div>
                </div>
            </div>
            <div id="footer-bottom" class="extra row">
                <div class="col logo-space">
                    <img class="logo" src="/assets/skinny-logo.png">
                </div>
            </div>
        </div>
    </footer>
    <script src="/scripts/navbar.js"></script>
    </body>
</html>

