<!DOCTYPE html>
<html>
    <head>
        <title>Rainier Outdoor</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <script src="/scripts/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <script src="/scripts/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <a class="navbar-brand" href="/"><img src="/assets/small-logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="header">
            <img class="background-img" src="/assets/header-background.png">
            <div class="logo-container">
                <img class="logo" src="/assets/logo.png">
            </div>
        </div>

        <div class="page-body">
