<div class="sheerid-logo-container"> 
    <p>Verification services powered by</p>
    <img src="/assets/sheerid-logo.png">
    <p><a href="https://www.sheerid.com/faqs/">SheerID FAQs &rarr;</a></p>
</div>
