<div class="sheerid-logo-container"> 
    <div>Verification services powered by</div>
    <img src="/assets/sheerid-logo.png">
    <p id="faq-box">Questions? View <a href="/faq" target="_blank">frequently asked questions</a></p>
</div>
