<% include partials/header %>

<div class="container">
    <div class="upload-container">
        <h1>ABOUT</h1>
        <p>
            This website is fake.  It was created by the <a href="#">SheerID</a> development team for demonstration purposes. 
            It uses the <a href="http://developer.sheerid.com/docs/">SheerID API</a> to perform verifications against the SheerID <a href="http://developer.sheerid.com/sandbox-source/">Sandbox Source</a>.
        </p>

        <p>
            This website was built using <a href="https://nodejs.org/">NodeJS</a>.  It is being hosted by <a href="https://www.heroku.com/">Heroku</a> and is connected to a
            <a href=https://www.mongodb.com/">MongoDB</a> hosted by <a href="https://mlab.com/">mLab</a>.
        </p>

        <p>
            <a href="https://github.com/sheerid/getting-started/tree/master/implementation">Click here</a> to see the source code for the website and to see examples of how you might integrate the SheerID API into your website.
        </p>
    </div>
</div>

<% include partials/footer %>
