<% include partials/header %>

<div class="container">
    <div class="upload-container">
        <h1>FREQUENTLY ASKED QUESTIONS</h1>

        &nbsp;
        
        <h5>Who is SheerID?</h5>
        <p>
            SheerID is a third-party verification service that works on behalf of retailers to verify an individual's affiliations. For information on our services, visit us at <a href="https://www.sheerid.com">sheerid.com</a>
        </p>

        &nbsp;

        <h5>How do I get verified?</h5>
        <p>If not instantly verified, SheerID will compare the information provided in the uploaded document(s) against the information entered in the verification form. To ensure a speedy and successful verification, please pay attention to how you enter your information on the form so that it will match what is seen on the document(s). For example, enter your first and last name on the form as it appears on your document(s).</p>

        &nbsp;

        <h5>Who is eligible for this offer?</h5>
        <p>If Rainier Outdoor were a real site, first responders serving in the United States, service members of the US military, students attending Title IV degree-granting colleges and universities, and US teachers employed at K-12 schools would receive an exclusive benefit.</p>

    </div>
</div>

<% include partials/footer %>
