<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="offers-img-container">
                <img class="offer-img" src="assets/resort.png">
                <div class="top-left">
                    <div class="btn btn-primary">
                        <a href="/offers">FREE SKI RESORT COUPONS</a>
                    </div>
                    <p>*Limited-time offer for students, teachers, first responders, and military members!</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="row">
                <div class="col-12">
                    <div class="offers-img-container">
                        <img class="offer-img" src="assets/snowboarding.png">
                        <div class="top-left">
                            <div class="btn btn-primary">
                                <a href="#">DEMO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="offers-img-container">
                        <img class="offer-img" src="assets/hood.png">
                        <div class="top-left">
                            <div class="btn btn-primary">
                                <a href="#">DEMO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <img class="offer-img" src="assets/fake-merch.png">
        </div>
    </div>
</div>
<% include partials/footer %>
