<!DOCTYPE html>
<html>
    <head>
        <title>Rainer Outdoor</title>
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
    </head>
    <body>
        <img id="logo" src="assets/logo.png">
        <p>Industry Verification Demo</p>
        <img src="assets/SheerIDlogo.png">   
    </body>
</html>
