<!DOCTYPE html>
<html>
    <head>
        <title>Rainer Outdoor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
    
    <div id="landing-header">
                <img src="/assets/logo.png">
                <br>
		<a href="/offers" class="btn btn-lg btn-primary-outline">See our offers</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>

