<% include partials/header %>

<div class="container">
    <div class="upload-container">
        <h1>LIMITED OFFER</h1>
        <p>
            Raineer Outdoor is offering coupons to <a href="#">participating ski resorts</a> located in Oregon.
            The coupons are redeemable for a free day pass to the ski resort's lift services (valued up to $100).

            This offer is only available for college students, teachers, first responders, and military members.
        </p>
        <p>
            We just need to verify your eligibility.
        </p>
        <div class="btn-container">
            <a href="/verify-landing" class="btn btn-primary">Verify</a>
        </div>
    </div>
</div>

<% include partials/footer %>

