<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div>
            <img src="/assets/logo.png">
            <p>
                Raineer Outdoor is giving out coupons to <a href="#">participating ski resorts</a> located in Oregon. 
                If you are attending a College or University, you are eligible to receive this exclusive offer!
            </p>
            <p>
                We just need to verify that you are a student.
            </p>
            <a href="/verify" class="btn btn-lg">Verify</a>
        </div>
    </header>
</div>

<% include partials/footer %>

