<% include partials/header %>

<div class="container">
    <div class="upload-container">
        <h1>LIMITED OFFER</h1>
        <p>
            Raineer Outdoor is giving out coupons to <a href="#">participating ski resorts</a> located in Oregon. 
            This offer is available for college students, teachers, first responders, and military members.
        </p>
        <p>
            We just need to verify that your eligibility.
        </p>
        <div class="btn-container">
            <a href="/verify-landing" class="btn btn-primary">Verify</a>
        </div>
    </div>
</div>

<% include partials/footer %>

