<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div>
            <img src="/assets/logo.png">
            <h1>Here is what we're offering</h1>
        </div>
    </header>
    
    <div class="row text-center display-flex">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="/assets/jacket.png">
                <div class="caption">
                    <h4>Rainer synthetic down T2-jacket</h4>    
                    <span>
                        <p>$290</p>
                        <p>($200 for students)</p>
                    </span>
                    <a href="#" class="btn btn-primary">Buy now</a> 
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="/assets/cap.png">
                <div class="caption">
                    <h4>Rainer cap</h4>
                    <span>
                        <p>$19</p>
                        <p>($14 for students)</p>
                    </span>
                    <a href="#" class="btn btn-primary">Buy now</a> 
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="/assets/vest.png">
                <div class="caption">
                    <h4>Rainer kids synthetic down vest</h4>
                    <span>
                        <p>$59</p>
                        <p>($40 for students)</p>
                    </span>
                    <a href="#" class="btn btn-primary">Buy now</a> 
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="/assets/coat.png">
                <div class="caption">
                    <h4>Workers synthetic down coat</h4>
                    <span>
                        <p>$120</p>
                        <p>($90 for students)</p>
                    </span>
                    <a href="#" class="btn btn-primary">Buy now</a> 
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>

