<% include partials/header %>

<div class="container">
    <div>
        <p>
            Raineer Outdoor is giving out coupons to <a href="#">participating ski resorts</a> located in Oregon. 
            This offer is available for college students, teachers, first responders, and military members.
        </p>
        <p>
            We just need to verify that your eligibility.
        </p>
        <a href="/verify-landing" class="btn btn-primary">Verify</a>
    </div>
</div>

<% include partials/footer %>

