<% include partials/header %>

<div class="container">
    <div class="upload-container">
        <h1>UPLOAD SUCCESSFUL</h1>
        <p>You successfully uploaded your document.  After it has been reviewed, you will receive an email with your coupon code!</p>
    </div>
</div>

<% include partials/footer %>
