<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div>
            <img src="/assets/logo.png">
            <p>Congratulations!  You successfully uploaded your document.  You will receive an email once it has been reviewed.</p>
        </div>
    </header>
</div>

<% include partials/footer %>
