<% include partials/header %>

<div class="container">
    <div class="upload-container">
        <h1>UPLOAD SUCCESSFUL</h1>
        <p>You will receive an email within twenty minutes from <a href="#">verify@sheerid.com</a> with more information regarding your request and next steps. If you don't see an email within twenty minutes, please check your spam/junk folder.</p>
    </div>
</div>

<% include partials/footer %>
