<% include partials/header %>

<div class="container">
    <div class="upload-container">
        <h1>CONGRATULATIONS</h1>
        <p>You are eligible for this offer.</p>
        <p>Your coupon code is <strong><%= couponCode %></strong>.</p>
        <p>Bring this code to any of Oregon's <a href="#">participating ski resorts</a> to receive a special discount, courtesy of Rainier Outdoor.</p>
        <p>This coupon code is valid until December 31, 2018.</p>
    </div>
</div>

<% include partials/footer %>
