<% include partials/header %>

<div class="container">
    <div>
        <p>Congratulations!  You have been verified.</p>
        <p>Your coupon code is <strong><%= couponCode %></strong></p>
        <p>Bring this code to any of Oregon's <a href="#">participating ski resorts</a> to receive a special discount, courtesy of Rainier Outdoor.</p>
        <p>This coupon code is valid until December 31, 2018</p>
    </div>
</div>

<% include partials/footer %>
