<% include partials/header %>

<div class="container"> 
    <h1>Congratulations!  You have been verified.</h1>
    <h1>Your coupon code is <%= couponCode %></h1>
</div>

<% include partials/footer %>
