<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div>
            <img src="/assets/logo.png">
            <p>Congratulations!  You have been verified.</p>
            <p>Your coupon code is <span id="coupon-container"><%= couponCode %></span></p>
            <p>Bring this code to any of Oregon's <a href="#">participating ski resorts</a> to receive a special discount, courtesy of Rainier Outdoor.</p>
            <p>This coupon code is valid until December 31, 2018</p>
        </div>
    </header>
</div>

<% include partials/footer %>
