<% include partials/header %>

<div class="container"> 
    <h1>We're sorry, we couldn't verify your studenthood for the following reason: </h1>
    <% for (var i=0; i<errors.length; i++) {%>
        <p><%= errors[i].message %> </p>
    <% } %>
    <h1>Please provide one of the following forms of documentation that help us verify your eligibility. </h1>

    <ul>
        <li>ID Card </li>
        <li>Dated ID Card </li>
        <li>Acceptance Letter</li>
        <li>Class Schedule</li>
        <li>Transcript</li>
        <li>Student Visa</li>
        <li>Tuition Receipt</li>
    </ul>
    
    <form method="POST" action="/upload" encType="multipart/form-data">
        <input name="asset" type="file" accept="image/*">
        <input name="assetToken" type="hidden" value="<%= assetToken %>">
        <input value="Submit" type="submit">
    </form>

</div>

<% include partials/footer %>
