<% include partials/header %>

<div class="container"> 
    <% if (errors && errors.length > 0) { %>
        <h1>We're sorry, we couldn't verify your studenthood for the following reason: </h1>
        <p><%= errors %> </p>
    <% } else { %>
        <h1>We're sorry, we couldn't verify your studenthood</h1>
    <% } %>

    <h1>Please provide one of the following forms of documentation that help us verify your eligibility. </h1>

    <ul>
        <li>ID Card </li>
        <li>Dated ID Card </li>
        <li>Acceptance Letter</li>
        <li>Class Schedule</li>
        <li>Transcript</li>
        <li>Student Visa</li>
        <li>Tuition Receipt</li>
    </ul>
    
    <form method="POST" action="/upload" encType="multipart/form-data">
        <input name="asset" type="file" accept="image/*">
        <input name="assetToken" type="hidden" value="<%= assetToken %>">
        <input value="Submit" type="submit">
    </form>

</div>

<% include partials/footer %>
