<% include partials/header %>

<div class="container"> 

    <% if (errors && errors.length > 0) { %>
        <h1>We're sorry, we couldn't verify your studenthood for the following reason: </h1>
        <% for (var i=0; i<errors.length; i++) {%>
            <p><%= errors[i].message %></p>
        <% } %>
    <% } else { %>
        <h1>We're sorry, we couldn't verify your studenthood</h1>
    <% } %>

    <h1>Please provide one of the following forms of documentation that help us verify your eligibility. </h1>

    <ul>
        <li>ID Card </li>
        <li>Dated ID Card </li>
        <li>Acceptance Letter</li>
        <li>Class Schedule</li>
        <li>Transcript</li>
        <li>Student Visa</li>
        <li>Tuition Receipt</li>
    </ul>
    
    <div id="upload"></div>

</div>

<script src="https://services-sandbox.sheerid.com/jsapi/SheerID.js"></script>
<script>
    SheerID.load('asset', '1.0', {
    config: {
        baseUrl: 'https://services-sandbox.sheerid.com/rest/0.5',
        container: 'upload',
        maxFiles: 1,
        success : 'http://rainieroutdoor.herokuapp.com/pending',
        failure : '/upload?requestId=<%= requestId %>',
        token: '<%= assetToken %>'
    }
});
</script>

<% include partials/footer %>
