<% include partials/header %>

<div class="container"> 
    <h1>We're sorry, we couldn't verify your identity.</h1>
    <h1>Please provide a scan of your id card, transcript, or diploma.</h1>
</div>

<% include partials/footer %>
