<!DOCTYPE html>
<html>
    <head>
        <title>Rainer Outdoor</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <script src="../public/scripts/jquery-3.3.1.min.js"></script>
        <script src="../public/scripts/bootstrap.min.js"></script>
        <script src="../public/scripts/bootstrap.bundle.js"></script>

    </head>
    <body>
        <img id="logo" src="assets/logo.png">
        <p>
            Industry Verification Demo
        </p>
        <p class="demo-hover"> FOR DEMO PURPOSES ONLY</p>
        <p id="buttons-container">
            <a class="btn btn-primary" href="/student/verify" title="Students attending US Title IV degree granting Colleges & Universities" >Students</a> 
            <a class="btn btn-primary" href="/military/verify" title="Military Retirees, Reservists, Military Family Members, Active Duty, and Veterans">Military</a> 
            <a class="btn btn-primary" href="/teacher/verify" title="Faculty at Colleges, Universities, and K-12 schools">Teachers</a> 
            <a class="btn btn-primary" href="/firstresponder/verify" title="EMT, Police, Firefighter">First Responders</a> 
        </p>
        <img src="assets/SheerIDlogo.png">
        
    </body>
</html>
