<!DOCTYPE html>
<html>
    <head>
        <title>Rainer Outdoor</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
    </head>
    <body>
        <img id="logo" src="assets/logo.png">
        <p>
            Industry Verification Demo
        </p>
        <p id="buttons-container">
            <a class="btn btn-primary" href="/student/verify">Students</a> 
            <a class="btn btn-primary" href="/military/verify">Military</a> 
            <a class="btn btn-primary" href="/teacher/verify">Teachers</a> 
            <a class="btn btn-primary" href="/firstresponder/verify">First Responders</a> 
        </p>
        <img src="assets/SheerIDlogo.png">   
    </body>
</html>
